/* Base CSS Styling for DreamWorld Django/Python Test written by Glen Baker */

/* 
	GLOBAL Styling
*/

.header:hover {
    cursor: pointer; 
}


.scrollup{
    width:40px;
    height:40px;

    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */

    position:fixed;
    bottom:30px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url('../img/icon_top_orange.png') no-repeat;
}

body {
    background: url('../img/white_subtle_texture.jpg') repeat;
}

html, body {
	height: 100%;
}

#header:hover {
    cursor: pointer;
}

footer {
	padding-top: 20px;
	height: 60px;
}

#map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    height: 400px;
}
/*
	Nav UI Styling
*/







