{% extends 'site_base.html' %}

{% load endless %}

{% block head_title %}
	List of Cities
{% endblock %}

{% block body %}
<h1>List of Cities</h1>
<hr>
<form class='well' action='' method='GET'>
	
	<h3>Search Cities by Name: <input type='text' name='q' id='q' />
	<button class='btn-primary' type='submit'>search</button></h3>

</form>

<ul>
	{% paginate 20 object_list %}
	{% for city in object_list %}
		<li>
			<a href="/cities/{{ city.pk }}">{{ city }}</a>
		</li>
	{% endfor %}
</ul>

<div class='pagination'>
	{% show_pages %}
</div>
{% endblock %}


{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#q').focus();
        });
    </script>

    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
{% endblock %}