{% extends 'site_base.html' %}

{% block body %}
<div class='hero-unit'>
	<h1>Welcome, Dreamworld!</h1>
	<p>This is the Django/Python Web App made by <a href='http://linkedin.com/in/glenbbaker'>Glen Baker</a> for the Dreamworld technical exam.</p>
	<p>Please peruse the code on <a href='https://github.com/iepathos/dreamworld/'>github/iepathos/dreamworld</a></p>

	<li>To load the data from sba URL I wrote <a href='https://github.com/iepathos/dreamworld/blob/master/cities/load_data_from_sba.py'>cities/load_data_from_sba.py</a></li>
	<li><a href='https://github.com/iepathos/dreamworld/blob/master/cities/templates/cities/city_list.html'>city_list</a> has a basic search bar for filtering through the names of the cities</li>

	<li><a href='https://github.com/iepathos/dreamworld/blob/master/cities/templates/cities/city_detail.html'>city_detail</a> displays all of the city's information as well as a Google Map centered on the coordinates.</li>

	<li>Added some basic testing to the cities app <a href='https://github.com/iepathos/dreamworld/blob/master/cities/tests.py'>cities/tests.py</a></li>
	<li>Added pagination to city_list with AjaxListView from django endless pagination</li>
{% endblock %}